$bfPink: #FF006E
$bfMaroon: #592D3D

main 
    font-weight: 400
    width: 100%

p
    color: #592D3D
    font-size: 0.8rem
    text-align: center
    margin: 0

a
    text-decoration: none
    color: #592D3D
    &:hover 
        text-decoration: underline
