$bfPink: #FF006E
$bfMaroon: #592D3D

main 
    font-weight: 400
    position: absolute
    bottom: 0
    text-align: center
    left: 50%
    transform: translate(-50%)

p
    color: #592D3D
    font-size: 0.8rem
    margin: 5px
    text-align: center

a
    text-decoration: none
    color: #592D3D
    &:hover 
        text-decoration: underline
