<main>
    <a href="https://github.com/dttncl?tab=repositories" target="_blank"><h2>View Archive</h2></a>
    <div class="container">
        <!-- project cards -->
        <div *ngFor="let project of projects" class="card">
            <div class="link-header">
                <a href="{{project.github}}" target="_blank"><img src="/assets/github.svg" class="contact-icon ken-gh-icon" title="GitHub Repo"></a>
                <a href="{{project.live}}" target="_blank"><img src="/assets/link.svg" class="contact-icon ken-link-icon" title="Live Demo"></a>
            </div>
            <div class="card-details">
                <div><h2>{{project.name}}</h2></div>
                <div class="card-tags">
                    <p *ngFor="let language of project.languages" class="tag">{{language}}</p>
                </div>
                <div><p>{{project.desc}}</p></div>
            </div>
        </div>
        <!-- end of project cards -->
    </div>
</main>

