<main> 
    <p>Here are the members of my continuously growing family!</p>
    <div class="languages">
        <img src="/assets/html5.svg" title="HTML5">
        <img src="/assets/css3.svg" title="CSS3">
        <img src="/assets/javascript.svg" title="Javascript">
        <img src="/assets/php.svg" title="PHP">
        <img src="/assets/python.svg" title="Python">
        <img src="/assets/csharp.svg" title="C#">
        <img src="/assets/java.svg" title="Java">
        <img src="/assets/swift.svg" title="Swift">
        <img src="/assets/go.svg" title="Go">
        <img src="/assets/django.svg" title="Django">
        <img src="/assets/angularjs.svg" title="Angular">
        <img src="/assets/wordpress.svg" title="Wordpress">
        <img src="/assets/dotnetcore.svg" title=".NETCore">
        <img src="/assets/sass.svg" title="SASS">
        <img src="/assets/github-orig.svg" title="GitHub">
        <img src="/assets/git.svg" title="Git">
        <img src="/assets/microsoftsqlserver.svg" title="SQL Server">
        <img src="/assets/oracle.svg" title="Oracle">
    </div>
    
</main>
<app-footer/>