<main> 
    <h2>Here are the members of my continuously growing family!</h2>
    <div class="languages">
        <div class="image-container">
            <img src="/assets/html5.svg" title="HTML5">
            <caption>HTML5</caption>
        </div>
        <div class="image-container">
            <img src="/assets/css3.svg" title="CSS3">
            <caption>CSS3</caption>
        </div>
        <div class="image-container">
            <img src="/assets/javascript.svg" title="Javascript">
            <caption>Javascript</caption>
        </div>
        <div class="image-container">
            <img src="/assets/php.svg" title="PHP">
            <caption>PHP</caption>
        </div>
        <div class="image-container">
            <img src="/assets/python.svg" title="Python">
            <caption>Python</caption>
        </div>
        <div class="image-container">
            <img src="/assets/csharp.svg" title="C#">
            <caption>C#</caption>
        </div>
        <div class="image-container">
            <img src="/assets/java.svg" title="Java">
            <caption>Java</caption>
        </div>
        <div class="image-container">
            <img src="/assets/swift.svg" title="Swift">
            <caption>Swift</caption>
        </div>
        <div class="image-container">
            <img src="/assets/go.svg" title="Golang">
            <caption>Golang</caption>
        </div>
        <div class="image-container">
            <img src="/assets/django.svg" title="Django">
            <caption>Django</caption>
        </div>
        <div class="image-container">
            <img src="/assets/angularjs.svg" title="Angular">
            <caption>Angular</caption>
        </div>
        <div class="image-container">
            <img src="/assets/wordpress.svg" title="Wordpress">
            <caption>Wordpress</caption>
        </div>
        <div class="image-container">
            <img src="/assets/dotnetcore.svg" title=".NETCore">
            <caption>.NETCore</caption>
        </div>
        <div class="image-container">
            <img src="/assets/sass.svg" title="SASS">
            <caption>SASS</caption>
        </div>
        <div class="image-container">
            <img src="/assets/github-orig.svg" title="GitHub">
            <caption>GitHub</caption>
        </div>
        <div class="image-container">
            <img src="/assets/git.svg" title="Git">
            <caption>Git</caption>
        </div>
        <div class="image-container">
            <img src="/assets/microsoftsqlserver.svg" title="SQL Server">
            <caption>SQL Server</caption>
        </div>
        <div class="image-container">
            <img src="/assets/oracle.svg" title="Oracle">
            <caption>Oracle</caption>
        </div>   
    </div>   
</main>
