$bfPink: #FF006E

main
    padding: 40px
    display: flex 
    flex-direction: row
    align-items: center
    font-size: 1rem
    gap: 4rem
    
a
    font-weight: bold
    color: $bfPink
    border-bottom: 2px solid transparent
    padding: 8px 40px
    &:hover
        cursor: pointer
        border-bottom: 2px solid $bfPink

.icon
    width:4rem
    height:4rem
    background: url(/assets/bernadette-logo-nobg.png) no-repeat center
    background-size: contain
