<main id="navbar">
    <div class="left">
        <div id="bf-icon" class="icon"></div>
        <a (click)="scrollToTop()" class="nav-item barbie">HOME</a>
        <a (click)="scrollToProjects()" class="nav-item barbie">PROJECTS</a>
        <a (click)="scrollToToolbox()" class="nav-item barbie">TOOLBOX</a>
    </div>
    <div class="right">
        <button (click)="scrollToContact()">Let's Connect</button>
        <img src="/assets/palette.png" class="palette" (click)="switchTheme()" title="Ken Mode">
    </div>
</main>
