$bfPink: #FF006E

a:hover
    cursor: pointer

main
    padding: 40px
    padding-top: 0
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-areas: "about photo"

h1
    font-size: 4rem
    margin: 0
    color: $bfPink

h2
    font-size: 1rem

p 
    font-size: 1rem
    font-weight: 400

.about
    grid-area: about

.photo
    grid-area: photo