<app-navigation/>
<main>
    <div class="about">
        <p>This Barbie is a <b>Software Developer</b></p>
        <h1>Bernadette</h1>
        <p>
            It’s a pleasure having you here! 
            <br><br>
            One simple spark of interest from a pregnant physics professor has evolved into a passion that I haven't stopped chasing since. Currently a student at LaSalle College in Montreal, pursuing my <b>Programmer Analyst</b> diploma, my mission is to turn my creative problem solving skills as a career. 
            <br><br>
            When my hands are off the keyboard, they are either making cute <b>crochet</b> plushies or holding a <b>book</b>.
        </p>
        <div class="contact">
            <button id="open-cv" (click)="openCV()">Resume</button>
            <a href="mailto:bnhfernando@outlook.com"><img src="/assets/email.svg" id="icon-email" class="contact-icon"></a>
            <a href="https://www.linkedin.com/in/bnhfernando/" target="_blank"><img src="/assets/linkedin.svg" id="icon-linkedin" class="contact-icon"></a>
            <a href="https://github.com/dttncl" target="_blank"><img src="/assets/github.svg" id="icon-github" class="contact-icon"></a>
        </div>
    </div>
    <div class="photo"></div>
</main>
<app-projects id="project-component"></app-projects>
<app-toolbox id="toolbox-component"></app-toolbox>
<app-footer></app-footer>